[Desktop Entry]
Version=1.0
Icon=/opt/ytd/ff_open_with_addon/YouTube.png
Name=ytd select quality
GenericName=ytd
Comment=Download youtube video select quality
Exec=/opt/ytd/ytd_select_quality
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.22
Encoding=UTF-8
NoDisplay=true
Name[it_IT]=ytd_select_quality.desktop
