[Desktop Entry]
Icon=/opt/ytd/ff_open_with_addon/YouTube.png
Version=1.0
Name=ytd low quality
GenericName=ytd
Comment=Download youtube video low quality
Exec=/opt/ytd/ytd_low
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.22
Encoding=UTF-8
NoDisplay=true
